@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
Test page 123
<p>
    @using (Html.BeginForm("Index", "Home"))
    {
        <input type="submit" name="submit" id="submit" value="Submit" />
    }
    
</p>